# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Log files
logs/
*.log

# Temporary files
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# ==========================================================
# Pytest
# ==========================================================

.pytest_cache/

# ==========================================================
# Python Packaging
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Coverage Reports
# ==========================================================

.coverage
htmlcov/